.principal{
	margin: relative;
	width:100%;
	height:950px;

}
#links-list{
	margin-top: auto;
	color: white;
}

.map{
	
	margin: 0px;
	width: 800px;
	height: 800px;
}

#googleMap{
	width: 800px;
	height: 800px;

}
